<div id="<%= dom_id ranking %>">
  <p>
    <strong>Mondai:</strong>
    <%= ranking.mondai %>
  </p>

  <p>
    <strong>Rexp:</strong>
    <%= ranking.rexp %>
  </p>

  <p>
    <strong>Lexp:</strong>
    <%= ranking.lexp %>
  </p>

  <p>
    <strong>Hn:</strong>
    <%= ranking.hn %>
  </p>

</div>
