<h1 class="text-4xl text-green-700 text-center font-semibold">すうじ探偵</h1>

<div data-controller="stopwatch" data-stopwatch-timer-value="">
  <p class="text-2xl text-center"><span data-stopwatch-target="display" id="stopwatch">0.000</span>秒</p>
  <div class="text-center">
    <button data-action="click->stopwatch#giveup" class="rounded border-red-300 border-2 p-2">まいりました！</button>
  </div>
</div>
<div class="m-4 text-left">
  <p>式を作って、赤文字の答えにしよう！</p>
  <p>× 0 や 0 ÷ は使えないよ</p>
</div>
<div class="<%=@shake%>">
  <%= form_with url: q_path, method: :post do |form| %>
  <%= hidden_field_tag "qid", @qid %>
    <%= render "number_boxes" %>
    <%= render "operators" %>
    <%= render "lexp" %>
    <div class="text-4xl text-red-700 m-4 flex justify-center font-semibold" id="rexp">
      <div>＝</div>　
      <div>
        <%= @rexp %>
      </div>
    </div>
  <% end %>
</div>