<h1>すうじ探偵</h1>

<div data-controller="stopwatch" data-stopwatch-timer-value="">
  <span data-stopwatch-target="display" id="stopwatch">0.000</span>秒
  <div style="margin-top:1rem;">
    <button data-action="click->stopwatch#giveup">まいりました！</button>
  </div>
</div>
<div class="description">
  <p>青枠に式を作って、赤枠の答えにしよう！</p>
  <p>× 0 や 0 ÷ は使えないよ</p>
</div>
<div class="<%=@shake%>">
  <%= form_with url: q_path, method: :post do |form| %>
  <%= hidden_field_tag "qid", @qid %>
    <%= render "number_boxes" %>
    <%= render "operators" %>
    <%= render "lexp" %>
    <div class="rexp" id="rexp">
      <div>＝</div>　
      <div>
        <%= @rexp %>
      </div>
    </div>
  <% end %>
</div>