    <div class="number_boxes" id="number_boxes">
      <%= button_tag @buttons[0], name: 'clicked', value: 0, disabled: @disabled[0] %>
      <%= button_tag @buttons[1], name: 'clicked', value: 1, disabled: @disabled[1] %>
      <span>月</span>
      <%= button_tag @buttons[2], name: 'clicked', value: 2, disabled: @disabled[2] %>
      <%= button_tag @buttons[3], name: 'clicked', value: 3, disabled: @disabled[3] %>
      <span>日</span>
      <%= button_tag @buttons[4], name: 'clicked', value: 4, disabled: @disabled[4] %>
      <%= button_tag @buttons[5], name: 'clicked', value: 5, disabled: @disabled[5] %>
      <span>時</span>
      <%= button_tag @buttons[6], name: 'clicked', value: 6, disabled: @disabled[6]%>
      <%= button_tag @buttons[7], name: 'clicked', value: 7, disabled: @disabled[7]%>
      <span>分</span>
    </div>