    <div class="mx-4 flex text-2xl font-mono" id="number_boxes">
      <%= button_tag @buttons[0], name: 'clicked', value: 0, disabled: @disabled[0], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400 disabled:bg-gray-400" %>
      <%= button_tag @buttons[1], name: 'clicked', value: 1, disabled: @disabled[1], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400" %>
      <span class="px-1 pt-10">月</span>
      <%= button_tag @buttons[2], name: 'clicked', value: 2, disabled: @disabled[2], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400" %>
      <%= button_tag @buttons[3], name: 'clicked', value: 3, disabled: @disabled[3], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400" %>
      <span class="px-1 py-10">日</span>
      <%= button_tag @buttons[4], name: 'clicked', value: 4, disabled: @disabled[4], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400" %>
      <%= button_tag @buttons[5], name: 'clicked', value: 5, disabled: @disabled[5], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400" %>
      <span class="px-1 py-10">時</span>
      <%= button_tag @buttons[6], name: 'clicked', value: 6, disabled: @disabled[6], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400"%>
      <%= button_tag @buttons[7], name: 'clicked', value: 7, disabled: @disabled[7], class: "rounded border border-gray-800 px-2 py-6 mx-1 disabled:bg-gray-400"%>
      <span class="px-1 py-10">分</span>
    </div>