<% content_for :js do %>
  <%= javascript_import_module_tag "q/index" %>
<% end %>

<h1>すうじ探偵</h1>
<p id="stopwatch">0.000 秒</p>
<%# <button id="clearButton">クリア</button> %>
<%= link_to "参りました！", q_giveup_path %>
<div class="description">
  <span>× 0 や 0 ÷ は使えません</span>
</div>
<div class="<%=@shake%>">
  <%= form_with url: "/q/update", method: :post do |form| %>
    <div class="number_boxes">
      <%= button_tag @buttons[0], name: 'clicked', value: 0, disabled: @disabled[0] %>
      <%= button_tag @buttons[1], name: 'clicked', value: 1, disabled: @disabled[1] %>
      <span>月</span>
      <%= button_tag @buttons[2], name: 'clicked', value: 2, disabled: @disabled[2] %>
      <%= button_tag @buttons[3], name: 'clicked', value: 3, disabled: @disabled[3] %>
      <span>日</span>
      <%= button_tag @buttons[4], name: 'clicked', value: 4, disabled: @disabled[4] %>
      <%= button_tag @buttons[5], name: 'clicked', value: 5, disabled: @disabled[5] %>
      <span>時</span>
      <%= button_tag @buttons[6], name: 'clicked', value: 6, disabled: @disabled[6]%>
      <%= button_tag @buttons[7], name: 'clicked', value: 7, disabled: @disabled[7]%>
      <span>分</span>
    </div>
    <div class="operators">
      <% %w(＋ － × ÷).each_with_index do |op, i| %>
      <%= button_tag op, name: 'clicked', value: i + 8, disabled: @disabled[i + 8] %>
      <% end %>
    <%= button_tag "取消", name: "clicked", value: 100, class: "bs", disabled: @disabled[12] %>
    </div>
    <div class="container">
      <div class="lexp">
        <%= @lexp %>
      </div>
      ＝　
      <div class="rexp">
        <%= @rexp %>
      </div>
    </div>
  <% end %>
</div>

<div class="result <%=@complete%>">
  正解です！
  <%=@time%>
  <%= link_to "ランキングへ", q_ranking_path %>
</div>

<div class="result <%=@wrong%>">
  残念でした！ あなたの答えは<%=@value%>でした！
  <%= link_to "もう一度やる", root_path %>
</div>